* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffcc00ff;
  --secondary-color: #ccccccff;
  --bg-color: #1a1a1aff;
  --bg-color2: #6666669a;
}

body {
  font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
}
